## Construct a DataFrame

In [1]:
using DataFrames
city = ["Corvallis", "Portland", "Eugene"]
pop = [57961, 647805, 168916]

df_cities = DataFrame(city=city, pop=pop) # cols are symbols
df_cities

3×2 DataFrame
│ Row │ city      │ pop    │
│     │ String    │ Int64  │
├─────┼───────────┼────────┤
│ 1   │ Corvallis │ 57961  │
│ 2   │ Portland  │ 647805 │
│ 3   │ Eugene    │ 168916 │

In [2]:
push!(df_cities, ["Bend", 94520])
df_cities

4×2 DataFrame
│ Row │ city      │ pop    │
│     │ String    │ Int64  │
├─────┼───────────┼────────┤
│ 1   │ Corvallis │ 57961  │
│ 2   │ Portland  │ 647805 │
│ 3   │ Eugene    │ 168916 │
│ 4   │ Bend      │ 94520  │

### Retreive a column

In [3]:
df_cities.pop

4-element Array{Int64,1}:
  57961
 647805
 168916
  94520

### Add Columns

In [4]:
df_cities[!, :state] = ["OR", "OR", "OR", "OR"] # ! = all rows
df_cities

4×3 DataFrame
│ Row │ city      │ pop    │ state  │
│     │ String    │ Int64  │ String │
├─────┼───────────┼────────┼────────┤
│ 1   │ Corvallis │ 57961  │ OR     │
│ 2   │ Portland  │ 647805 │ OR     │
│ 3   │ Eugene    │ 168916 │ OR     │
│ 4   │ Bend      │ 94520  │ OR     │

In [5]:
size(df_cities)

(4, 3)

### Delete row

In [6]:
deleterows!(df_cities, 3)
df_cities

3×3 DataFrame
│ Row │ city      │ pop    │ state  │
│     │ String    │ Int64  │ String │
├─────┼───────────┼────────┼────────┤
│ 1   │ Corvallis │ 57961  │ OR     │
│ 2   │ Portland  │ 647805 │ OR     │
│ 3   │ Bend      │ 94520  │ OR     │

## Iterate through the rows of a data frame

In [7]:
for row in eachrow(df_cities)
    # row is like a dictionary
    println("city = ", row[:city])
    println("\tpop = ", row[:pop])
    println("\tstate = ", row[:state])
end

city = Corvallis
	pop = 57961
	state = OR
city = Portland
	pop = 647805
	state = OR
city = Bend
	pop = 94520
	state = OR